:root {
    --backgroundprimary: rgb(200,190,150)
    --highlight-primary: #122316;
}



.title-container {
    height: 40vh;
    background-color: var(backgroundprimary);
}

.title-hello {
    font-size: 10rem;
    font-weight: 700;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

    color: var(--dark);
}

.title-name {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'ZCOOL Qingke HuangYou', cursive;

    color: var(--white);

    position: relative;
    top: -2.5rem;
    background-color: var(--accent);
}

.about-me-container {
  width:80vw;
  height: 0vh;

}
